.bottom-cta-products {
  width: 100vw;

  background-color: var(--main-dark);
  height: 800px;
  background-image: url("../img/bottom-cta-products-background-img.png");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--white);
}

.bottom-cta-products h1 {
  font-family: var(--title-font);
  font-size: 40px;
  margin: 24px 0 16px 0;
}

.bottom-cta-products p {
  width: 400px;
  text-align: center;
  font-weight: 300;
  line-height: 1.5;
}

.bottom-cta-products a {
  text-decoration: none;
  color: var(--white);

  padding: 12px 24px;
  border: 2px solid var(--white);

  border-radius: 8px;

  margin-top: 36px;
  transition: 0.2s;
}

.bottom-cta-products a:hover {
  color: var(--light-gray-hover);
  border: 2px solid var(--light-gray-hover);
}

.bottom-cta-products img {
  width: 80px;
}
