.hero {
  background-color: var(--main-dark);
  height: 100vh;
  background-image: url("../img/hero-background-img.png");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--white);
}

.hero h1 {
  font-family: var(--title-font);
  font-size: 40px;
  margin: 24px 0;
}

.hero p {
  width: 400px;
  text-align: center;
  font-weight: 300;
  line-height: 1.5;
}

.hero a {
  text-decoration: none;
  color: var(--white);

  padding: 12px 24px;
  border: 2px solid var(--white);

  border-radius: 8px;

  margin-top: 36px;
  transition: 0.2s;
}

.hero a:hover {
  color: var(--medium-gray);

  border: 2px solid var(--medium-gray);

  transition: 0.2s;
}
