@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  scroll-behavior: smooth;
}

:root {
  /* COLORS */

  --white: #fff;
  --off-white: #f7f9fc;
  --light-gray: #e1ecf6;
  --light-gray-hover: #c9d8e7;
  --medium-gray: #738da5;
  --medium-gray-hover: #a8b9ca;
  --main-dark: #111e2b;
  --black: #000;
  --secondary-purple: #3461e2;
  --secondary-purple-hover: #2b53c0;
  --alert-red: #f04a4a;
  --background-red: #ffe4e4;

  /* FONTS */
  --title-font: "Arvo", serif;
  --main-font: "Inter", sans-serif;
}

body {
  font-family: var(--main-font);
  color: var(--main-dark);
  background-color: var(--white);
  line-height: 1.2;
  /* display: flex; */
  /* justify-content: center; */
}

.test {
  /* background-color: #111e2b; */
  height: 200vh;
  background-color: var(--white);
}

.main-button {
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  color: var(--white);
  width: 100%;
  padding: 16px 0;
  background-color: var(--secondary-purple);
  border-radius: 12px;
  transition: 0.3s;
}

.main-button:hover {
  background-color: var(--secondary-purple-hover);
  transition: 0.3s;
}

.secondary-button {
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  color: var(--secondary-purple);
  width: 100%;
  padding: 16px 0;
  background-color: var(--light-gray);
  border-radius: 12px;
  transition: 0.3s;
}

.secondary-button:hover {
  background-color: var(--light-gray-hover);
  transition: 0.3s;
}
